@{
    ViewData["Title"] = "Author";
}
<h1>@ViewData["Title"]</h1>

<p>The author of this page is Eduardo Adrian Giorgio</p>
<p>You can follow github through the following <a href="https://github.com/eduardogiorgio">link</a></p>
